.text-block {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  line-height: 1.6;
  text-align: center;
  max-width: 500px;
  margin: 0 auto 50px auto;
  white-space: pre-wrap; /* respeta espacios y saltos */
}

.char {
  display: inline-block;
  will-change: transform;
  margin-right: 0.05em; /* separa un poco las letras */
}

.char.verde { color: #28a745; font-weight: 600; }
.char.amarillo { color: #ffc107; font-weight: 600; }
.char.rojo { color: #ff0707; font-weight: 600; }
